# Add any directories, files, or patterns you don't want to be tracked by version control
.idea/workspace.xml
.idea/*
.idea
.idea/vcs.xml
.idea/modules.xml
.idea/maximarkets.site.iml
*.zip
*.rar
*.gz
*.sql
*.tar
/wp-content/themes/twenty*
!/wp-content/themes/twentytwentyone
/wp-content/plugins/wp-file-manager
license.txt
readme.html
web.config
*.log
wp-content/backup-db/
wp-content/backups/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/db.php
.tmb
**/node_modules/
wp-cli.phar
/local-xdebuginfo.php
.vscode